@font-face {
  font-family: "kaisoutai";
  src: url("./fonts/Kaisotai-Next-UP-B.otf");
}
body {
  margin: 0;
  background-color: black;
}
div.poster {
  background-image: url("./images/poster_background.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 70%;
}
div.houousai {
  margin-top: 0;
  padding: 20px 0 0 20px;
  font-family: kaisoutai;
  font-size: 4vw;
}
div.reimei {
  font-size: 15vw;
  font-family: kaisoutai;
  padding: 0 40px;
  padding-right: 40px;
}
div.date {
  padding-top: 35px;
  font-family: kaisoutai;
  font-size: 5vw;
}
div.concept {
  transition: all 0.5s ease;
}

section.concept:hover div.concept {
  color: #772e7f;
}

div.concept-contents {
  font-family: kaisoutai;
  padding: 0 15%;
  font-size: 4vw;
  margin-top: 10px;
}
div.insta_link {
  position: fixed;
  bottom: 60px;
  right: 15px;
}
img.insta_logo {
  height: auto;
  width: 60px;
  transition: 0.3s;
}

img.insta_logo:hover {
  transform: scale(1.2);
}

footer {
  color: white;
  text-align: center;
}
img.access_map_img {
  width: 100%;
  max-width: 700px;
  height: auto;
}

div.access_map {
  text-align: center;
}
div.access {
  transition: all 0.5s ease;
}

div.floor_map {
  transition: all 0.5s ease;
}
section.access:hover div.access {
  color: #e22c65;
}

section.floor_map:hover div.floor_map {
  color: #fee980;
}

.headline {
  font-family: kaisoutai;
  font-size: 8vw;
  padding-left: 10%;
  padding-top: 50px;
}

@media screen and (min-width:960px){
  div.floormaps{
    padding: 0 3%;
  }

  img.floormapfull{
    padding-top: 20px;
    width: 100%;
    height: auto;
  }
  img.floormap-phone{
    display: none;
  }
}

@media screen and (max-width:960px){
  div.floormaps{
    padding: 0 5%;
  }

  img.floormapfull{
    display: none;
  }
  img.floormap-phone{
    padding-top: 20px;
    width: 100%;
    height: auto;
  }
}


/*humberger-bottun*/
.hamburger {
  display : block;
  position: fixed;
  z-index : 3;
  right : 13px;
  top   : 12px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}
.hamburger span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 2px ;
  left    : 6px;
  background : #555;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 10px;
}
.hamburger span:nth-child(2) {
  top: 20px;
}
.hamburger span:nth-child(3) {
  top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.active span:nth-child(1) {
  top : 16px;
  left: 6px;
  background :#fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg);
  transform        : rotate(-45deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  top: 16px;
  background :#fff;
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
  transform        : rotate(45deg);
}

nav.globalMenuSp {
  position: fixed;
  z-index : 2;
  top  : 0;
  left : 0;
  color: #fff;
  background: rgba(0,0,0,0.7);
  text-align: center;
  width: 100%;
  opacity: 0;
  transition: opacity .6s ease, visibility .6s ease;
}

nav.globalMenuSp ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  transition: .4s all;
}
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
}
nav.globalMenuSp ul li:hover{
  background :#ddd;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #fff;
  padding: 1em 0;
  text-decoration :none;
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  opacity: 100;

}